<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!--  DONT refresh every 60 sec
  <meta http-equiv="refresh" content="60">
    -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon16.png}">
    <title>Latin</title>
</head>

</html>