<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:insert="navbar :: navigation"></div>
<section class="jumbotron text-center mb-0 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8"><h3>WELCOME TO SIMPLE WORLD</h3></div>
        </div>
    </div>
</section>
<div class="container text-lg-center mt-4">
    <img  class="img-fluid" alt="vini img"  th:src="@{/images/be_yourself.png}"  />
    <div class="d-flex flex-column flex-md-row justify-content-md-center">
    </div>
</div>

<script th:src="@{webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script th:src="@{webjars/font-awesome/5.12.0/js/all.min.js}"></script>

</body>
</html>