<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="navigation">
    <!--Start Fixed navbar -->
    <nav id="mainNavbar" class="navbar nav-pills navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand" href="#">Simple World</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"  th:href="@{/}">Home</a>
                    <a class="nav-link"  th:classappend="${#httpServletRequest.getRequestURI() == '/search' ? 'active':''}" th:href="@{/search}">Search</a>
            </div>
        </div>
    </nav>
    <!--End Fixed navbar -->

</header>
</body>
</html>
