<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:insert="navbar :: navigation"></div>
<section class="jumbotron text-center mb-0 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 input-group mb-2">
                <div class="input-group-prepend ">
                    <span class="input-group-text colored" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" id="myInput" class="form-control" placeholder="search" aria-label="Search" aria-describedby="basic-addon1">
            </div>
            <div class="col-lg-2 text-right pt-2"></div>
        </div>
    </div>
</section>
<div class="container text-lg-center mt-2">
        <table id="allwords"
           th:class="${ true ?'table':'d-none' }">
        <thead class="table-success">
        <tr>
            <th scope="col" >ID</th>
            <th scope="col" onclick="sortTable(0,'allwords')">FIRST NAME</th>
            <th scope="col" >LAST NAME</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td><span th:text="${member.id}"></span></td>
            <td><span th:text="${member.firstName}"></span></td>
            <td><span th:text="${member.lastName}"></span></td>
        </tr>
        </tbody>
    </table>

    </div>

</div>

<script th:src="@{webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script th:src="@{webjars/font-awesome/5.12.0/js/all.min.js}"></script>
<script th:src="@{/js/searchTable.js}"></script>

</body>
</html>